@import url('Libs/jQuery/css/ui-darkness/jquery-ui-1.8.10.custom.css') all;

/* test page content 
    TODO: remove me
*/

body{
    font: 60% "Trebuchet MS", sans-serif;
}

/* IMBAdmin login window */

#imbaSsoLogin {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 250px;
    height: 70px;
    z-index: 9999;
}

#imbaSsoLogin input {
    background-color: white;
}

.imbaSsoLoginBorder {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 9999;
    width: 250px;
    height: 70px;
}

#imbaSsoLoginInner
{
    padding: 12px 12px;
}

#imbaSsoLogo {
    float: left;
    width: 48px;
    width: 48px;
}

#imbaSsoOpenIdSubmit {
    background: transparent;
    border: 1px solid black;
}

/* IMBAdmin chat window */

#imbaMessages {
}

#imbaMessages li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }

#imbaMessageText {
    background-color: #222222;
    border: 1px solid #999999;
    color: #FFFFFF;
}

#imbaChatConversation{
    /*overflow-y: scroll;*/
    /*height: 80%;*/
}

/* IMBAdmin main content window */

#imbaContent {
}

#imbaContent li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
