/* jQuery css include */
@import url('Libs/jQuery/css/ui-darkness/jquery-ui-1.8.10.custom.css') all;

/* jQuery dataTabled css include */
@import url('Libs/DataTables/media/css/demo_table.css') all;

/* IMBAdmin error message */
#ImbaErrorMsg {
    color: red;
}

.imbaFont {
    line-height: normal !important;
    font-size: 1em;
}

/* IMBAdmin login window */
#imbaSsoLoginBorder {
    position: fixed;
    right: 2px;
    top: 2px;
    z-index: 9999;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#imbaSsoLogo {
    float: left;
    width: 48px;
    width: 48px;
    cursor: pointer;
}

.imbaInput {
    font-family: Arial, sans-serif !important;
    font-size: 12px !important;
    background-color: white !important;
    border: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0px !important;
    margin-bottom: 2px !important;
    color: black !important;
    height: 20px !important;
}

#imbaSsoLoginInner {
    float: left;
}

#imbaUsersOnline {
    width: 150px;
    float: left;
    margin: 0px; 
    padding: 0px;
}

#imbaUsersOnline ul {  
    margin: 0px; 
    padding: 0px;
}  

#imbaUsersOnline li {  
    list-style-type:none;
    float:left; 
    margin-right: 2px; 
    padding: 0px;
    cursor: pointer;
}  


/* IMBAdmin Messeging */

#imbaMessages {
}

#imbaGotMessage{
    float: right;
    cursor: pointer;
}

#imbaMessages li .ui-icon-close { 
    float: left;
    cursor: pointer;
}

#imbaMessageText {
    background-color: #222222;
    border: 1px solid #999999;
    color: #FFFFFF;
}

#imbaChatConversation{
    /*overflow-y: scroll;*/
    /*height: 80%;*/
}

#imbaOpenMessaging {
    float: right;
    cursor: pointer;
}

/* IMBAdmin main content window */

#imbaContent {
}

#imbaContent li .ui-icon-close { 
    float: left;
    cursor: pointer;
}

#imbaMenu {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 9999;
}

#ImbaWebUsersViewprofileTable {
    color: #999999;
}
/* IMAdmin Menu */
#imbaMenu ul.topnav {
    list-style: none;
    padding: 0 20px;
    margin: 0;
    float: left;
    width: 420px;
    background: #505050;
}

#imbaMenu ul.topnav li {
    float: left;
    margin: 0;
    padding: 0 15px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

#imbaMenu ul.topnav li a {
    padding: 10px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}

#imbaMenu ul.topnav li span { 
    width: 17px;
    height: 35px;
    float: left;
    cursor: pointer;
    background: url('/IMBAdmin/Images/subnav_btn.gif') no-repeat;
}

#imbaMenu ul.topnav li span.subhover {
    cursor: pointer;
}

#imbaMenu ul.topnav li ul.subnav {
    list-style: none;
    position: absolute;
    left: 0;
    top: 39px;
    background: #505050;
    margin: 0;
    padding: 0;
    display: none;
    float: left;
    width: 170px;
}

#imbaMenu ul.topnav li ul.subnav li {
    margin: 0; padding: 0;
    clear: both;
    width: 170px;
}

#imbaMenu html ul.topnav li ul.subnav li a {
    float: left;
    width: 145px;
    background: #333;
    padding-left: 20px;
}

#imbaMenu html ul.topnav li ul.subnav li a:hover { 
    /*--Hover effect for subnav links--*/
    background: #222;
}

/* IMBAdmin Content */
#imbaContentNav div {
    height: 80%;
}


/* jQuery dataTables */

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
*/
#dt_example {
    font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #fff;
}

#dt_example #container {
    width: 800px;
    margin: 30px auto;
    padding: 0;
}

#dt_example #footer {
    margin: 50px auto 0 auto;
    padding: 0;
}

#dt_example #demo {
    margin: 30px auto 0 auto;
}

#dt_example .demo_jui {
    margin: 30px auto 0 auto;
}

#dt_example .big {
    font-size: 1.3em;
    font-weight: bold;
    line-height: 1.6em;
    color: #4E6CA3;
}

#dt_example .spacer {
    height: 20px;
    clear: both;
}

#dt_example .clear {
    clear: both;
}

#dt_example pre {
    padding: 15px;
    background-color: #F5F5F5;
    border: 1px solid #CCCCCC;
}

#dt_example h1 {
    margin-top: 2em;
    font-size: 1.3em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    border-bottom: 1px solid #B0BED9;
    clear: both;
}

#dt_example h2 {
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1.6em;
    color: #4E6CA3;
    clear: both;
}

#dt_example a {
    color: #0063DC;
    text-decoration: none;
}

#dt_example a:hover {
    text-decoration: underline;
}

#dt_example ul {
    color: #4E6CA3;
}

.css_right {
    float: right;
}

.css_left {
    float: left;
}